<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <!-- General -->
  <category label="30011">

    <setting label="30012" type="text"   id="username" default=""/>
    <setting label="30013" type="text"   id="password" option="hidden"  default=""/>
    
    <setting type="sep" />
    <setting label="30014" type="bool" id="resume" default="true"/>
    <setting label="30015" type="bool" id="debug" default="false"/>

	<setting type="sep" />	
	<setting label="30022" type="bool" id="regions" default="false"/>

  </category>
  
  <!-- Paths -->
  <category label="30023">
	<setting label="30024" type="lsep"/>
	<setting label="30025" type="folder" id="cachePath" source="auto" option="writeable" value=""/>
  </category>
</settings>
